<head>
    <script src="{{ url_for('static', filename='js/lib/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/socket.io.min.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/config.js') }}"></script>

    <script src="{{ url_for('static', filename='js/config.js') }}"></script>
    <script src="{{ url_for('static', filename='js/model/game_object.js') }}"></script>
    <script src="{{ url_for('static', filename='js/game/socket.js') }}"></script>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/screen.css') }}" /> 
</head>


<div id="screen">
    <div id="map_container">
        <div class="scrolling scroll_bar" id="up_scroll"    data-direction="up"></div>
        <div class="scrolling scroll_bar" id="down_scroll"  data-direction="down"></div>
        <div class="scrolling scroll_bar" id="left_scroll"  data-direction="left"></div>
        <div class="scrolling scroll_bar" id="right_scroll" data-direction="right"></div>
        <div class="scrolling scroll_bar_corner" id="up_left_scroll"    data-direction="up-left"></div>
        <div class="scrolling scroll_bar_corner" id="up_right_scroll"   data-direction="up-right"></div>
        <div class="scrolling scroll_bar_corner" id="down_right_scroll" data-direction="down-left"></div>
        <div class="scrolling scroll_bar_corner" id="down_left_scroll"  data-direction="down-right"></div>
        <canvas id="map_canvas"></canvas>
    </div>
</div>

<script src="{{ url_for('static', filename='js/game/screen.js') }}" debug="false"></script>
<script src="{{ url_for('static', filename='js/game/scroll.js') }}"></script>
<script src="{{ url_for('static', filename='js/game/game.js') }}" map-name="{{ map_name }}"></script>


