<head>
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/config.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/screen.css" /> 
</head>


<div id="screen">
    <div id="map_container">
        <div class="scrolling scroll_bar" id="up_scroll"    data-direction="up"></div>
        <div class="scrolling scroll_bar" id="down_scroll"  data-direction="down"></div>
        <div class="scrolling scroll_bar" id="left_scroll"  data-direction="left"></div>
        <div class="scrolling scroll_bar" id="right_scroll" data-direction="right"></div>
        <div class="scrolling scroll_bar_corner" id="up_left_scroll"    data-direction="up-left"></div>
        <div class="scrolling scroll_bar_corner" id="up_right_scroll"   data-direction="up-right"></div>
        <div class="scrolling scroll_bar_corner" id="down_right_scroll" data-direction="down-left"></div>
        <div class="scrolling scroll_bar_corner" id="down_left_scroll"  data-direction="down-right"></div>
        <canvas id="map_canvas"></canvas>
    </div>
</div>

<script src="../js/screen.js" debug="false"></script>
<script src="../js/scroll.js"></script>
<script src="../js/game.js" width="3360" height="1920" map-src="../object/map/map1.png"></script>






